* {
    box-sizing: border-box;
}

body {
    margin: 100px;
}

.ground {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #cccccc;
}

.excel{
    width:50px;
    height: 50px;
    padding:5px;
}